html{
    font-family: 'Katibeh', cursive;
   font-size: 16px;
}
body{
    font-family: 'Katibeh', cursive;
}

.form-group{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

span{
    margin-right: 1rem;
}

#loading, #results {
    display: none;
}

.img{
    height: 6rem;
width: 6rem;

}

.imgDiv{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}